
*{
  padding: 0px;
  margin: 0px;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  /* margin-bottom: 30px; */
  background-color: lightslategray;
  /* height: 05vh; */
}

.emoji_first{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  background-color: aqua;
  justify-content: center;
}

.emoji_second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  HEIGHT: 100%;
  background-color: #F65915;
  padding: 40px 40px;
  border-radius: 10px;
}

